*
!.gitignore
!.gitattributes

!mods/
!mods/*

!kubejs/
!kubejs/*
kubejs/server_scripts/
kubejs/startup_scripts/

!resourcepacks/
!resourcepacks/*

!shaderpacks/
!shaderpacks/*

!servers.dat
!raz-updater*
!updater.raz
!UPDATING.txt